html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;

    --header-height: 60px;
    --footer-height: 60px;
}

.main {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.section {
    padding: 20px;
}

.container {
    min-width: 500px;
    max-width: 960px;
    margin: 0 auto;
    height: 500px;
    background-color: cornsilk;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid gainsboro;
}

.footer {
    background-color: #444;
    text-align: center;
    line-height: var(--footer-height);
    color: #fff;
    height: var(--footer-height);
}

.logo {
    display: inline-block;
    margin-right: 40px;
    border: 1px solid #ccc;
    padding: 3px;
    color: #fff;
}

.nav {
    position: sticky;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: var(--header-height);
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
}

.nav__link:link {
    display: inline-block;
    font-size: 18px;
    margin: 0 10px;
    padding: 20px 10px;
    color: #fff;
    text-decoration: none;
}

.nav__link:visited {
    color: green;
}

.nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__item {
    display: inline-block;
}

.heading {
    text-align: center;
}

.scrollTop {
    height: var(--button-height);
    width: var(--button-width);
    position: fixed;
    right: 32px;
    bottom: 64px;

}

.scrollTop__link {
    font-size: 30px;
    color: white;
    text-decoration: none;
    background-color: red;
    width: var(--button-width);
    height: var(--button-height);
}
.scrollTop-button {
    --button-height: 40px;
    --button-width: 40px;
    /* Інші стилі для кнопки */
}